[Desktop Entry]
Type=Application
Name=Cliente Watchdog
Comment=Supervisor continuo del control cliente
Exec=/home/usuario/controlcliente/launcher
Path=/home/usuario/controlcliente/
Terminal=false
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true