# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
venv/
ENV/
.env

# Archivos de compilación (PyInstaller)
build/
dist/
#*.spec

# Archivos de compilación (InnoSetup)
Output/

# Bases de datos locales de prueba o configuraciones pesadas
*.log
*.sqlite
*.db

# Archivos de configuraciones
.vscode/